/DBoW/
/data/
/DBoW/sinus_r2d2_descriptors.pkl
/DBoW/r2d2_descriptors.pkl
/DBoW/descriptors.pkl
/DBoW/voc.txt
/data/
/experiments/
/results/
/g2opy/
/trained_models/
/cotracker/
/cotracker_v2/
/cotracker_new/
/depth_anything/
/debug.txt
/DBoW/r2d2
/logfile.txt
__pycache__
